# Dependencias
/node_modules

# Archivos de entorno - ¡NO SUBIR SECRETOS!
.env
.env.*
!.env.example

# Ignorar archivos temporales de configuración con timestamp
*.timestamp-*.mjs

# Ignorar archivos de prueba (mocks)
mock.json